@import url('./reset.css');

body {
  background-color: var(--app-background);
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.center {
  display: grid;
  place-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Variables
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background: #181b2d;
  --app-white: #fff;
  --app-black: #000;
  --app-blue: #1a75ff;
  --app-blue-hover: #0066ff;
  --app-input: #aeaeae;
  --app-secondary: #546270;
  --app-form: #d9d9d9;
  --app-form-backgorund: #f3f3f3;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Main
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.text {
  width: 80%;
  margin-top: 30%;
  color: var(--app-white);
  font-size: 25px;
}

.module {
  position: absolute;
  top: 25%;
  left: 40%;
  background-color: var(--app-white);
  width: 300px;
  height: 350px;
  padding: 30px 20px;
  border-radius: 5px;
  animation: 0.25s linear anim;
}

.module::backdrop {
  background-color: rgb(13 16 19 / 0.3);
  backdrop-filter: blur(10px);
}

@keyframes anim {
  from {
    opacity: 0;
    translate: 0 -8px;
  } to {
    opacity: 1;
    translate: 0 0;
  }
}

h2 {
  font-size: 30px;
}

.cookie-text {
  font-size: 18px;
  margin: 8px 0;
}

.buttons {
  margin-top: 20px;
}

.accept {
  width: 46%;
  height: 40px;
  border-radius: 50px;
  font-size: 15px;
  letter-spacing: 0.4px;
  font-weight: 600;
  background-color: var(--app-blue);
  color: var(--app-white);
}

.accept:hover {
  background-color: var(--app-blue-hover);
}

.settings {
  margin-left: 15px;
  width: 46%;
  height: 40px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.4px;
  background-color: transparent;
  color: var(--app-blue);
  border-style: solid;
  border-width: 1px;
  border-color: var(--app-blue);
}

.settings:hover {
  color: var(--app-blue-hover);
  border-color: var(--app-blue-hover);
  background-color: var(--app-form-backgorund);
}

.option {
  display: flex;
  width: 100%;
  margin: 15px 0;
  font-size: 20px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.browser {
  margin-right: 129px;
}

.os {
  margin-right: 35px;
}

.swidth {
  margin-right: 67px;
}

.sheight {
  margin-right: 60px;
}

.save {
  height: 40px;
  width: 200px;
  padding: 5px;
  border-radius: 50px;
  margin-left: 25px;
  background-color: var(--app-blue);
  color: var(--app-white);
  font-weight: 600;
}

.save:hover {
  background-color: var(--app-blue-hover);
}